<footer class="mg-footer">
    <div class="mg-footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12">
                    <div class="widget">
                        <h2 class="mg-widget-title">CONTACTANOS</h2>
                        <strong>Invierte PTY</strong><br>
                        <div class="row">
                            <div class="col-md-4">
                                <address>
                                   Edificio Colores de Bella Vista, Oficina 16F <br>
                                   Ciudad de Panamá, Panamá.

                                </address>
                                <p>
                                    +(507) 6381-0324<br>
                                </p>

                                <p>
                                    ventas@inviertepty.com
                                </p>
                            </div>
                            <!-- <div class="col-md-4">
                                <address>
                                    1 Ropemaker Street, Moorgate<br>
                                    London<br>
                                    UNITED KINGDOM<br>
                                </address>
                            </div>
                            <div class="col-md-4">
                                <address>
                                    3905 Two Exchange Square<br>
                                    8 Connaught Place<br>
                                    HONG KONG<br>
                                </address>
                            </div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h2 class="mg-widget-title">Social Media</h2>
                        <ul class="mg-footer-social">
                            <li><a href="https://www.facebook.com/CrowdValley" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="https://twitter.com/crowdvalley" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://plus.google.com/+Crowdvalley" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="http://news.crowdvalley.com/" target="_blank"><i class="fa fa-rss"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-copyright">
        <div class="container">
            <div class="row">

                <div class="col-md-6">
                    <ul class="mg-footer-nav">
                        <li><a href="{{ path('homepage') }}">Inicio</a></li>
                        <li><a href="{{ path('about') }}">Nosotros</a></li>
                        <li><a href="http://news.crowdvalley.com" target="_blank">Como funciona</a></li>
                        <li><a href="{{ path('contact') }}">Contacto</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>&copy; 2016 <a href="http://www.crowdvalley.com">Invierte PTY</a>. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </div>
</footer>