{% set active = 'contact' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}About Us - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>NOSOTROS</h2>
                    <p>“INVIRTE-PTY  es una canal de acceso en el cual inversionistas pueden acceder a financiar proyectos con seguridad y transparencia. “

</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Misión</h2>
                    <p>Ofrecer una plataforma en un ambiente en el cual las regulaciones panameñas permitan                     el florecimiento de financiamiento colectivo. Dar a conocer las oportunidades de                           inversión en panamá en bienes raíces de una forma transparente y segura.
                    </p>
                    
                    <h2>Visión</h2>
                    <p>La visión de Invierte-pty es ser la plataforma líder de financiamiento colectivo en                      Centro América y el Caribe en  proyectos inmobiliarios.</p>

                    <hr />
                </div>
            </div>
        </div>
    </div>
   


{% endblock %}