{% set active = 'contact' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}About Us - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>NOSOTROS</h2>
                    <p>“INVIRTE-PTY  es una canal de acceso en el cual inversionistas pueden acceder a financiar proyectos con seguridad y transparencia. “

</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-about-features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Misión</h2>
                    <p>Ofrecer una plataforma en un ambiente en el cual las regulaciones panameñas permitan                     el florecimiento de financiamiento colectivo. Dar a conocer las oportunidades de                           inversión en panamá en bienes raíces de una forma transparente y segura.
                    </p>
                    
                    <h2>Visión</h2>
                    <p>La visión de Invierte-pty es ser la plataforma líder de financiamiento colectivo en                      Centro América y el Caribe en  proyectos inmobiliarios.</p>

                    <hr />
                </div>
                <div class="col-sm-4">
                    <div class="mg-feature">
                        <div class="mg-feature-icon-title">
                            <i class="fp-ht-maid"></i>
                            <h3>Powerful Compliance tools</h3>
                        </div>
                        <p>Deploy sophisticated compliance processes with state of the art data sources at your teams disposal.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mg-feature">
                        <div class="mg-feature-icon-title">
                            <i class="fp-ht-computer"></i>
                            <h3>Secure and Compliant</h3>
                        </div>
                        <p>State of the art security, modular infrastructure design and continuous investments in R&D.</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mg-feature">
                        <div class="mg-feature-icon-title">
                            <i class="fp-ht-parking"></i>
                            <h3>Fully Configurable</h3>
                        </div>
                        <p>Serve your clients with your bespoke workflows and processes tailored to their needs.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-about-testimonial parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>Testimonials</h2>
                        <p>Here is some valuable word from our clients</p>
                    </div>
                    <div class="mg-testimonial-slider" id="mg-testimonial-slider">
                        <blockquote>
                            <p>Crowd Valley helped us navigate these complexities to develop a strong final product that will serve investors across private, public, and philanthropic sectors.</p>
                            <footer>Andrew Stern, CEO Convergence</footer>
                        </blockquote>
                        {#<blockquote>
                            <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti. Coercendi fabulas sequatur dolorem nominant, faciendum dicitis perpauca intervenire calere.</p>
                            <footer>John Doe, Example Inc</footer>
                        </blockquote>
                        <blockquote>
                            <p>Nostram virtutem poterimus quoddam praesertim legendos libero exhorrescere saluti. Coercendi fabulas sequatur dolorem nominant, faciendum dicitis perpauca intervenire calere.</p>
                            <footer>John Doe, Example Inc</footer>
                        </blockquote>#}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-team">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mg-sec-title">
                        <h2>Our Stuff</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="mg-team-member">
                        <figure>
                            <img src="{{ asset('bundles/app/images/member1.png') }}" alt="" class="img-responsive">
                        </figure>
                        <div class="mg-team-member-overlayer"></div>
                        <div class="mg-team-info">
                            <h3>Joseph Gonzales</h3>
                            <strong>Manager</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Potitur confectum existimant cognitio aristotele seditione.</p>
                            <ul class="mg-team-member-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mg-team-member">
                        <figure>
                            <img src="{{ asset('bundles/app/images/member2.png') }}" alt="" class="img-responsive">
                        </figure>
                        <div class="mg-team-member-overlayer"></div>
                        <div class="mg-team-info">
                            <h3>Joseph Gonzales</h3>
                            <strong>Manager</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Potitur confectum existimant cognitio aristotele seditione.</p>
                            <ul class="mg-team-member-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="mg-team-member">
                        <figure>
                            <img src="{{ asset('bundles/app/images/member3.png') }}" alt="" class="img-responsive">
                        </figure>
                        <div class="mg-team-member-overlayer"></div>
                        <div class="mg-team-info">
                            <h3>Joseph Gonzales</h3>
                            <strong>Manager</strong>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Potitur confectum existimant cognitio aristotele seditione.</p>
                            <ul class="mg-team-member-social">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}