{% set active = 'contact' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Contact - Crowd Valley{% endblock %}

{% block body %}
    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contact Us</h2>
                    <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="mg-sec-left-title">Send an E-mail</h2>
                    <form class="clearfix">
                        <div class="mg-contact-form-input">
                            <label for="full-name">Full Name</label>
                            <input type="text" class="form-control" id="full-name">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="subject">Subject</label>
                            <input type="text" class="form-control" id="subject">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="subject">Message</label>
                            <textarea class="form-control" id="subject" rows="5"></textarea>
                        </div>
                        <input type="submit" class="btn btn-dark-main pull-right" value="Send">
                    </form>
                </div>
                <div class="col-md-7">
                    <h2 class="mg-sec-left-title">Office Address</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>HEADQUARTERS</h5>
                                <span class="addr-str">One Market Plaza, Spear Tower</span>
                                <span class="addr-state">San Francisco, CA 94105</span>
                                <span class="addr-country">UNITED STATES</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>EUROPE</h5>
                                <span class="addr-str">1 Ropemaker Street, Moorgate</span>
                                <span class="addr-state">London</span>
                                <span class="addr-country">UNITED KINGDOM</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>ASIA</h5>
                                <span class="addr-str">3905 Two Exchange Square</span>
                                <span class="addr-state">8 Connaught Place</span>
                                <span class="addr-country">HONG KONG</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>INQUIRIES</h5>
                                <span class="addr-str">+1 (415) 580 0087</span>
                                <span class="addr-str">sales[at]crowdvalley.com</span>
                                <span class="addr-str">partner[at]crowdvalley.com</span>
                                <span class="addr-country"></span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                    </div>
                    {#<p>Consulatu quietem ipsas obruamus. Controversia unam queo firmam videri, afranius derigatur sine sentit inliberali beatam scribendi splendide. Recusabo maximisque ferentur arbitraretur vellem oritur cupiditatibus copulatas.</p>
                    <ul class="mg-contact-info">
                        <li><i class="fa fa-map-marker"></i> Level 13, 2 Elizabeth St, Melbourne, Victoria 3000 Australia</li>
                        <li><i class="fa fa-phone"></i> +000-123-456-789 (Sale)</li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:#">example@example.com</a></li>
                    </ul>#}
                    <div id="mg-map" class="mg-map mt10"></div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}