{% set active = 'contact' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Contact - Crowd Valley{% endblock %}

{% block body %}
    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Contacto</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="mg-sec-left-title">Enviar un Email</h2>
                    <form class="clearfix">
                        <div class="mg-contact-form-input">
                            <label for="full-name">Nombre Completo</label>
                            <input type="text" class="form-control" id="full-name">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="email">E-mail</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="subject">Asunto</label>
                            <input type="text" class="form-control" id="subject">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="subject">Mensaje</label>
                            <textarea class="form-control" id="subject" rows="5"></textarea>
                        </div>
                        <input type="submit" class="btn btn-dark-main pull-right" value="Send">
                    </form>
                </div>
                <div class="col-md-7">
                    <h2 class="mg-sec-left-title">Dirección de oficina</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>OFICINA PRINCIPAL</h5>
                                <span class="addr-str">Bella Vista, Speare Tower, piso 16</span>
                                <span class="addr-state">Ciudad de Panama</span>
                                <span class="addr-country">PANAMA</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>ESTADOS UNIDOS</h5>
                                <span class="addr-str">47 Rd Street, Moorgate</span>
                                <span class="addr-state">Miami</span>
                                <span class="addr-country">ESTADOS UNIDOS</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>LATINOAMÉRICA</h5>
                                <span class="addr-str">3905 Guemes y Saavedra</span>
                                <span class="addr-state">Rio de Janeiro</span>
                                <span class="addr-country">BRASIL</span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="addr-txt">
                                <h5>INFORMACIÓN</h5>
                                <span class="addr-str">+507 6580 0087</span>
                                <span class="addr-str">sales@Sinvierte-pty.com</span>
                                <span class="addr-str">partner@Sinvierte-pty.com</span>
                                <span class="addr-country"></span>
                                <div class="addr-hr"></div>
                            </div>
                        </div>
                    </div>
                    
                    
                    <ul class="mg-contact-info">
                        <li><i class="fa fa-map-marker"></i> Piso 13, Ocean Park, Ciudad de Panamá, Panamá</li>
                        <li><i class="fa fa-phone"></i> +507-6255-7891 </li>
                        <li><i class="fa fa-envelope"></i> <a href="mailto:#">info@invierte-pty.com</a></li>
                    </ul>
                    <div class="mg-map mt10"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3940.9039905975546!2d-79.52438058463659!3d8.980981893554171!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8faca8e4f7d43b2f%3A0x8e3dc1dce4199557!2sCalle+50%2C+Panam%C3%A1%2C+Panama!5e0!3m2!1sen!2s!4v1481941875471" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div>
                </div>
            </div>


        </div>
    </div>

{% endblock %}