{% set active = 'user' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Privacy Policy - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Privacy Policy</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-page">
        <div class="container">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Factorum difficile adversantur, vexetur legatis virtus ponendam. Proficiscuntur corrupisti cetero offendimur ullius fames animum sabinum theophrastus iudicandum. Probarentur, qui viam dolore audire appellat instructus, defatigatio fugiendam adoptionem severitatem ceterorum petentium incursione alia, institutionem legimus iustitia consumeret expedita maiores torquatus invidi aiunt illas, detractis admonitionem morbis divina efflorescere. Erit consuetudine refugiendi dein intemperantes gloriae appellant quaeri benivole, fidem perciperet privatione deleniti. Patriam. Maximos faciendi illud quibusdam tale, probarem parentes dominos inani putarent audita.</p>

        </div>

    </div>

{% endblock %}