{% set active = '' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Reset Password - Crowd Valley{% endblock %}

{% block body %}
    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Reset password</h2>
                    <p>Please enter your new password below.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <form class="clearfix">
                        <div class="mg-contact-form-input">
                            <label for="">New password</label>
                            <input type="password" class="form-control" id="">
                        </div>
                        <div class="mg-contact-form-input">
                            <label for="">Confirm new password</label>
                            <input type="password" class="form-control" id="">
                        </div>
                        <input type="submit" class="btn btn-dark-main" value="Save">
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock %}