{% set active = 'profile' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Cambiar Contraseña - Invierte PTY{% endblock %}
{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Cambiar Contraseña</h2>
                    <p>Vuelve a asignar una nueva contraseña a tu cuenta</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 pull-right">
                    <form name="" method="post" action="" id="" role="form">
                        <div class="row mb20">
                            <div class="col-sm-6">
                                <div class="form-group mg-book-form-input">
                                    <label for="">Contraseña Actual</label>
                                    <input type="password" id="" name="" class="form-control">
                                </div>
                                <div class="form-group mg-book-form-input">
                                    <label for="">Nueva Contraseña</label>
                                    <input type="password" id="" name="" class="form-control ">
                                </div>
                                <div class="form-group mg-book-form-input">
                                    <label for="">Confirmar Contraseña</label>
                                    <input type="password" id="" name="" required="required" class="form-control">
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="" name="" class="btn btn-main">Guardar</button>

                    </form>
                </div>
                <div class="col-md-3 col-sm-12 pull-left">
                    <div class="mg-widget-area">
                        <aside class="mg-widget">
                            <h2 class="mg-widget-title">MI CUENTA</h2>
                            <ul>
                                <li><a href="{{ path('my_investments') }}"><i class="fa fa-user"></i> Mi Perfil</a></li>
                                <li><a href="#"><i class="fa fa-money"></i> Editar Perfil</a></li>
                                <li class="active" ><a href="{{ path('change_password') }}"><i class="fa fa-key"></i> Cambiar Contraseña</a></li>
                                <li><a href="{{ path('change_email') }}"><i class="fa fa-money"></i> Cambiar Email</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block javascripts %}
{% endblock %}