{% set active = 'profile' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}My wallet - Crowd Valley{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('bundles/app/css/s3.upload.css') }}" rel="stylesheet">{% endblock %}
{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Mi Cartera de Inversión </h2>
                    <p>Transfiere dinero a tu cuenta y empieza a invertir en proyectos de tu preferencia.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-page">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 pull-right">
                    <div class="mb50">
                        <div class="wallet-total">
                            <div class="row">
                                <div class="col-md-7">
                                    <div >Saldo Capital:</div>
                                    <div class="h1 mt0 mb0">$50,000</div>
                                </div>
                                <div class="col-md-5">
                                    <div class="wallet-buttons text-right">
                                        <button class="btn btn-default btn-modal-withdraw" data-toggle="modal" data-target="#modal_withdraw">Retiro</button>
                                        <button class="btn btn-default btn-modal-addFunds" data-toggle="modal" data-target="#modal_addFunds">Depósito</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="mb30">
                        <h2 class="mg-sec-left-title">Estado de cuenta</h2>
                        <table class="table" id="statement">
                            <thead>
                                <tr>
                                    <th>Fecha</th>
                                    <th>Descripción</th>
                                    <th style="width:150px">Cantidad</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>16/10/16 13:07:46</td>
                                    <td>
                                       Inversión en Vista Mar Golf Village (ID: 104)
                                    </td>
                                    <td>$ -50,000</td>
                                </tr>
                                <tr>
                                    <td>16/10/15 13:07:50</td>
                                    <td>
                                       San Francisco Mall (ID: 105)
                                    </td>
                                    <td>$ -30,000</td>
                                </tr>
                                <tr>
                                    
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th></th>
                                    <th class="text-right">Total</th>
                                    <th>£ 80,000</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="mb30">
                        <h2 class="mg-sec-left-title">Número de referencia de usuario</h2>
                        <div>
                            <span class="h4">REF2755Ukc</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12 pull-left">
                    <div class="mg-widget-area">
                        <aside class="mg-widget">
                            <h2 class="mg-widget-title">MI CUENTA</h2>
                            <ul>
                                <li><a href="{{ path('my_investments') }}"><i class="fa fa-user"></i> Mi perfil</a></li>
                                <li><a href="{{ path('change_password') }}"><i class="fa fa-key"></i> Contraseña y Seguridad</a></li>
                                <li class="active"><a href="{{ path('my_wallet') }}"><i class="fa fa-money"></i> Mi Cartera</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal withdraw -->
    <div class="modal fade" id="modal_withdraw" tabindex="-1" role="dialog" aria-labelledby="modal_withdraw">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content ">
                <form id="form-withdraw" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">Retirar</h4>
                    </div>
                    <div class="modal-body text-left">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    Efectivo: $1000<br>
                                    Créditos: $2000</br>
                                    <b>TOTAL: $3000</b>
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Amount">Cantidad</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="text" class="form-control format-currency" id="withdraw-amount-field" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="account_number">Número de Cuenta</label>
                                    <input type="text" class="form-control" name="account_number" id="account-number" placeholder="XXXXXXXX" >
                                </div>
                                <div class="form-group">
                                    <label for="sort_code">Código de Clasificación</label>
                                    <input type="text" class="form-control" id="sort-code-field" placeholder="XX-XX-XX">
                                </div>
                                <div class="text-italic" style="margin-top: 15px"><i>La cantidad de créditos no puede se retirada</i></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cerrar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="btn-submit" class="btn btn-main  btn-block">Enviar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal withdraw -->
    <!-- Modal add fund -->
    <div class="modal fade" id="modal_addFunds" tabindex="-1" role="dialog" aria-labelledby="modal_withdraw">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content ">
                <form id="form-withdraw" action="" method="POST">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">Pay-in</h4>
                    </div>
                    <div class="modal-body text-left">

                        <p>
                            Por favor completa la siguiente información parar trasnferir los fondos
                        </p>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Amount">Cantidad</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                        <input type="text" class="form-control format-currency" id="amount" placeholder="">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="date">Fecha</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="form-control input-datepicker" name="date" id="date" placeholder="" >
                                    </div>

                                </div>
                                <div class="form-group">
                                    <label for="customerID">ID de Cliente</label>
                                    <input type="text" class="form-control" id="customerID" placeholder="">
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer ">
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn btn-default btn-block" data-dismiss="modal">Cancelar</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" id="btn-submit" class="btn btn-main  btn-block">Procesar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- End Modal add fund -->
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('.input-datepicker').datepicker({
                startDate: "dateToday",
                autoclose: true
            });
        });
    </script>
{% endblock %}