{% set active = 'offerings' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}Secondary Market - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>Secondary Market</h2>
                    <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-about-features">
        <div class="container">
            <table class="table table-responsive">
                <tr>
                    <th style="width: 90px">Loan Part ID</th>
                    <th>Organization</th>
                    <th>Share Price</th>
                    <th>Shares <br> Available</th>
                    <th>Cost of <br> Shares</th>
                    <th>Fees</th>
                    <th>Total <br> Investment</th>
                    <th style="width: 95px">Projected Returns</th>
                    <th style="width: 50px">Status</th>
                    <th style="width: 155px">Action</th>
                </tr>
                <tr>
                    <td>1234</td>
                    <td>Project Tomorrow</td>
                    <td>£550.00</td>
                    <td>1,000</td>
                    <td>£550,000.00</td>
                    <td>£13,750.00</td>
                    <td>£563,750.00</td>
                    <td>3.50%</td>
                    <td><span class="label label-success font-normal">Open</span></td>
                    <td>
                        <a class="btn-sm btn-dark-main">Invest</a>
                        <a class="btn-sm btn-dark-main">See More</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}