{% set active = 'raise_capital' %}
{% extends 'AppBundle::base.html.twig' %}

{% block title %}My Applications - Crowd Valley{% endblock %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>My Applications</h2>
                    <p>Cogitavisse erant puerilis utrum efficiantur adhuc expeteretur.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="mg-about-features">
        <div class="container">
            <table class="table table-responsive">
                <tr style="text-transform: uppercase">
                    <th style="width: 30px"></th>
                    <th>Application ID</th>
                    <th>Created At</th>
                    <th>Application Name</th>
                    <th>Status</th>
                    <th style="width: 260px">Action</th>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-circle-down btn-pull-up" data-id="1"></i></td>
                    <td>1234</td>
                    <td>1st January 2016</td>
                    <td>Project Tomorrow</td>
                    <td><span class="label label-warning font-normal">Draft</span></td>
                    <td>
                        <a class=" btn-sm btn-dark-main">Submit</a>
                        <a class=" btn-sm btn-dark-main">Edit</a>
                        <a href="{{ path("repayment") }}" class=" btn-sm btn-dark-main">Create Repayment</a>
                    </td>
                </tr>
                <tr class="tb-1 tb-hide">
                    <td></td>
                    <td colspan="5">
                        <table class="table table-detail">
                            <tr>
                                <th>ID</th>
                                <th>Created At</th>
                                <th>Offering Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>123456</td>
                                <td>1st January 2016</td>
                                <td>Funding Round 1</td>
                                <td>Debt</td>
                                <td><span class="label label-warning font-normal">Draft</span></td>
                                <td>
                                    <a class=" btn-sm btn-dark-main">Submit</a>
                                    <a class=" btn-sm btn-dark-main">Edit</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><i class="fa fa-arrow-circle-down btn-pull-up" data-id="2"></i></td>
                    <td>1234</td>
                    <td>1st January 2016</td>
                    <td>Project Tomorrow</td>
                    <td><span class="label label-warning font-normal">Draft</span></td>
                    <td>
                        <a class=" btn-sm btn-dark-main">Submit</a>
                        <a class=" btn-sm btn-dark-main">Edit</a>
                        <a href="{{ path("repayment") }}" class=" btn-sm btn-dark-main">Create Repayment</a>
                    </td>
                </tr>
                <tr class="tb-2 tb-hide">
                    <td></td>
                    <td colspan="5">
                        <table class="table table-detail" >
                            <tr>
                                <th>ID</th>
                                <th>Created At</th>
                                <th>Offering Name</th>
                                <th>Type</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>123456</td>
                                <td>1st January 2016</td>
                                <td>Funding Round 1</td>
                                <td>Debt</td>
                                <td><span class="label label-warning font-normal">Draft</span></td>
                                <td>
                                    <a class=" btn-sm btn-dark-main">Submit</a>
                                    <a class=" btn-sm btn-dark-main">Edit</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".btn-pull-up").click(function(){
                var tableId = $(this).data('id');
                if($(this).hasClass('open')){
                    $(".tb-"+tableId).hide();
                    $(this).addClass("fa-arrow-circle-down");
                    $(this).removeClass("open fa-arrow-circle-up");
                }
                else{
                    $(".tb-"+tableId).show();
                    $(this).addClass("open fa-arrow-circle-up");
                    $(this).removeClass("fa-arrow-circle-down");
                }

            });
        })
    </script>
{% endblock %}